<!-- <script src="./dist/index.js"></script> -->
<!-- <script src="./dist/index.min.js"></script> -->
<script src="https://unpkg.com/@feng3d/laya@1.7.22-0.0.1/dist/index.js"></script>
<!-- <script src="https://unpkg.com/@feng3d/laya@1.7.22-0.0.1/dist/index.min.js"></script> -->